.addButton{
 padding-top: 50px;   
}



.tasks{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    
}

.allTasks{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 350px;
    height: 200px;
    border-radius: 10px;
}

.buttonContainer{
    display: flex;
    gap: 10px;
    padding-left: 20px;
    padding-top: 20px;
}

.btnn{
    background-color: #319795;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
}
.title{
    font-size: 20px;
}

.description{
    font-size: 20px;
}


@media (max-width: 768px) {
    .addButton{
        padding-top: 50px;   
       }
       
       .addButton >button{
           width: 40px;
           height: 50px;
           border: none;
           background-color: #319795;
           font-size: 20px;
           border-radius: 20px;
           color: white;
           cursor: pointer;
       }
       
       .tasks{
           display: grid;
           grid-template-columns: repeat(1,1fr);
           
           
       }
       
       .allTasks{
           box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
           width: 250px;
           height: 200px;
           border-radius: 10px;
       }
       
       .buttonContainer{
           display: flex;
           gap: 10px;
           padding-left: 20px;
           padding-top: 20px;
       }
       
       .btnn{
           background-color: #319795;
           width: 60px;
           height: 30px;
           border-radius: 10px;
           border: none;
           color: white;
           font-size: 14px;
           cursor: pointer;
       }
       .title{
           font-size: 20px;
       }
       
       .description{
           font-size: 20px;
       }
}