
.container{
    background-color: #333333;
}

.parent{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.heading{
    padding-left: 20px;
    font-size: 10px;
    color: white;
}
.btncontainer{
    display: flex;
  gap: 10px;
  padding-top: 10px;
}
.btn  {
    background-color: #319795;
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    border-radius: 20px;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 768px) {
    
    .container{
        width: 80%;
    }
    

    .parent {
        display: flex;
        justify-content: center; 
        width: 100%; 
    }

    .heading {
        display: none; /* Hide the heading at smaller screen sizes */
    }

    .btncontainer {
        display: flex;
        gap: 10px;
        padding-top: 10px;
    }

}